
.navbar-ligthgreen{
    background-color: /* rgb(76, 255, 0);*/#9ACD32;
    border: 1px solid gray;
    opacity:1;
    background-image: url("res/pageBackground.png");

}

#titulo-label{
    width: 300px;
    height: 500px;
    font-size: 1.6em;
    margin: auto 120px;
    padding-top: 20px;
}


.labels{
    font-size: 1.9em;
}

#nav-tolbar{
    background-color: #9ACD32;
}

#footer{
    font-size: 1.3em;
    color: black;
}
 
body{
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url("res/pageBackground.png");
}

.panel-lightgreen {
  border-color: #9ACD32;
}
.panel-lightgreen > .panel-heading {
  color: white;
  font-size: 1.45em;
  background-color: #9ACD32;
  border-color: #9ACD32;
  
    background-image: url("res/pageBackground.png");
}
.panel-lightgreen > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #9ACD32;
}
.panel-lightgreen > .panel-heading .badge {
  color: black;
  background-color: #9ACD32;
}
.panel-lightgreen > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #9ACD32;
}