.navbar-ligthgreen{
    background-color: /* rgb(76, 255, 0);*/#9ACD32;
    opacity:1;
    background-image: url("res/pageBackground.png");

}

.navbar-fixed-top{
    height: 6em;
}

#nav-tolbar{
    background-color: #9ACD32;
    height: 2em;
}
 
body{
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: url("res/pageBackground.png");
}

.icone{
    height: 4.5em;
    width: 4.5em;
    background-image: url("res/Logo.png");
    background-size: 4.7em;
    border: none;
    color: transparent;
    background-color: transparent;
    margin-top: -17px;
    background-repeat: no-repeat;
}


.modal{
    padding-right: 500px;
}

.modal-footer{
    margin-top: 30px;
}

.hover-row-color:hover{
    background-color: yellowgreen;
    opacity: 0.8;
}

.hover-row-text:hover{
    opacity: 1;
}

.modal-row:hover{
    font-size:18px;
    transition: linear 0.1s;
}

#titulo-label{
    width: 300px;
    height: 500px;
    font-size: 1.6em;
    margin: auto 120px;
    padding-top: 20px;
}


.labels{
    font-size: 1.9em;
}


#footer{
    font-size: 1.3em;
    color: black;
}

.btn-success{
    background-color:#9ACD32;
    transition: linear 0.5s;
}
.btn-success:hover, .btn-success:focus{
    background-color: rgb(251, 234, 10);
    color: black;
    transition: linear 0.5s;
}

.panel-lightgreen {
  border-color: #9ACD32;
}
.panel-lightgreen > .panel-heading {
  color: white;
  font-size: 1.45em;
  background-color: #9ACD32;
  border-color: #9ACD32;
  
    background-image: url("res/pageBackground.png");
}
.panel-lightgreen > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #9ACD32;
}
.panel-lightgreen > .panel-heading .badge {
  color: black;
  background-color: #9ACD32;
}
.panel-lightgreen > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #9ACD32;
}