@model MVC.ViewModel.AgendamentoViewModel

<div class="panel-body">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome do Paciente</th>
                <th>Dia do agendamento</th>
                <th>Tipo de Tratamento</th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var agendamento in Model.ListaDeAgendamento)
            {
                <tr class="hover-row-color modal-row" data-pdsa-action="opcao">
                    <td class="hover-row-text">@agendamento.Id</td>
                    <td class="hover-row-text">@agendamento.Paciente.Nome</td>
                    <td class="hover-row-text">@agendamento.DiaDoAgendamento</td>
                    <td class="hover-row-text">@agendamento.TipoDeTratamento</td>
                </tr>
            }
        </tbody>
    </table>
</div>


