<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PeterPanRepositorios"
         connectionString="Data Source=localhost;Initial Catalog=PeterPanRepositorios;User Id=sa;Password=ivia@2015;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>